.logo{
    height: 50px;
  width: 50px;
  background-image: linear-gradient(to bottom right, #FF0000
  , #7329C6);
  border-radius: 50%;
  display: inline-block;
}

    .leftside{
        max-width:25%;
        position: fixed;
    left: 0.12%;
    right: 0.31%;
    top: 1%;
    bottom: 0%;
    background: #FCFBFF;    
}


.head{
    /* left: 2.12%; */
    padding-left: 45px;
    display: flex;
    float: left;
}
.classmanager{
    /* position: absolute; */
width: 50%;
height: 49px;
left: 78px;
top: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #050505;
}

.box{
    display: flex;
    flex-direction: column;
} 
ul{
    list-style: none;
}

.li{
    margin-top: 50px;
    padding: 44px;
}


.listname{
    padding-top: 4px;
}